.about-container {
  width: 80%;
  margin: auto;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 20px 20px;
  height: 600px;
}

.card-trip > img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  filter: sepia(20%);
}

.card-trip h2 {
  font-size: 25px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 9px;
}

.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.info-button {
  background-color:white;
  color: #D66C44;
  font-size:18px;
  border-color: #D66C44;
  text-decoration: bold;
  display: inline-block;
}

// .info-button-box {
//   justify-content: center;
//   align-items: flex-end;
//   display: flex;
//   width:480px;
//   margin:auto;
// }

.abc {
  text-align: center;
}
