.about-container {
  width: 80%;
  margin: auto;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 20px 20px;
  height: 620px;
}

.card-trip > img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 25px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 9px;
}

.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.info-button {
  background-color:#D66C44;
  color: white;
  margin-top: 15px;
  padding: 3px 5px;
}
