.services-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px 20px;
  border-radius: 5px;
  img {
    border-radius: 10px;
  }
}

.img-services {
  border-radius: 10px;
}

.text-services {
  margin: auto;
  h6 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.services-container {
  width: 1500px;
    margin: 20px auto;
  padding: 20px;

}
