<!-- <div class="container bg-light mt-4 w-25">
  <h2 class="pt-4 text-center">Get in touch</h2>
  <%#= simple_form_for(@booking, method: :post) do |f| %>
    <%#= f.input :name %>
    <%#= f.input :email %>
    <%#= f.input :options, as: :radio_buttons, collection: ["Book Anni for a workshop", "Book Anni for a coaching"] %>
    <%#= f.input :message %>
    <div class="text-center">
      <%#= f.submit "Submit", class: "btn submit-button my-3" %>
    </div>
    <%# end %>
</div> -->
