<footer class="footer py-4 mt-5">
  <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <p>Created by Jette Bakemeier</p>
</footer>
