<footer class="footer py-4 mt-5">
  <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://nl.linkedin.com/in/ann-kathrin-thesen-758273145/%7Bcountry%3Dus%2C+language%3Den%7D?trk=people-guest_profile-result-card_result-card_full-click"><i class="fab fa-linkedin"></i></a>
  </div>
  <p>Created by Jette Bakemeier</p>
</footer>
