<nav class="navbar py-4 sticky-top">
  <div class="d-flex">
  <span><%= link_to 'Anni Thesen', root_path, class:'anni-link'%></span>
    <div class="link-navbar">
      <%= link_to "Services", services_path, class:'pr-4' %>
      <%= link_to "Anni's work", about_path, class:'pr-4' %>
      <a href="" data-toggle="modal" data-target="#createreview">Book now</a>
    </div>
  </div>
</nav>

