<nav class="navbar py-4 sticky-top bg-light">
  <div class="d-flex">
  <span>Anni Thesen</span>
<a href="" class="link-navbar" data-toggle="modal" data-target="#createreview">Book now</a>
</div>
</nav>
