<div class="about-container my-4">
  <h2 class="text-center mt-5 mb-2">My work so far</h2>
  <div class="row">
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699476/Screenshot_from_2019-06-16_16-34-59_jxesyj.png">
        <div class="card-trip-infos">
          <div>
            <h2>Working as a student ambassador for Brabant DC – 2018-2019</h2>
            <p>As part of the District of Creativity network, I contribute to the development of the DC Living Lab in 2019. A multi-day event for international students to address societal challenges in a local context.</p>
            <a target="_blank" class="info-button btn" href="">Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699496/Screenshot_from_2019-06-16_16-35-18_j1ihjl.png">
        <div class="card-trip-infos">
          <div>
            <h2>Developing my leadership - 2019</h2>
            <p>`How can I stay true to myself in times of change? ` This is the question that I worked on during a personal leadership course in France.</p>
            <a target="_blank" class="info-button btn" href="">Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699495/Screenshot_from_2019-06-16_16-35-36_wzxid5.png">
        <div class="card-trip-infos">
          <div>
            <h2>Facilitating of a process for the Dutch start-up ‘YoinFriends’ - 2019</h2>
            <p>Together with graphic facilitator Janneke Timmers, I created a process for YoinFriends. In ten sessions we helped the team to unleash their creativity and collective capacity.</p>
            <a target="_blank" class="info-button btn" href="">Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699486/Screenshot_from_2019-06-16_16-35-59_tiyjzr.png">
        <div class="card-trip-infos">
          <div>
            <h2>Facilitating workshops</h2>
            <p>I facilitate a variety of workshops on topics like co-creation, creativity, communication, leadership, social innovation and design thinking.</p>
            <a target="_blank" class="info-button btn" href="">Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699506/Screenshot_from_2019-06-16_16-36-20_hxuwly.png">
        <div class="card-trip-infos">
          <div>
            <h2>Learning from Paula Kolthoff about `Embodied Learning` in The Netherlands- 2018</h2>
            <p>Paula Kolthoff taught me about body and mind synchronisation. Our bodies are incredibly intelligent. Listening to mine helps me to connect to myself and my surroundings.</p>
            <a target="_blank" class="info-button btn" href="https://www.youtube.com/watch?v=KWrMYV3m_Zw">Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1560699506/Screenshot_from_2019-06-16_16-36-40_ecwcul.png">
        <div class="card-trip-infos">
          <div>
            <h2>Learning about `Natural Horsemanship` in Australia - 2015</h2>
            <p>`When I communicate with a horse, I try to get as close as possible to their perspective of the world.` They help me develop trust-based leadership skills, patience and communication. </p>
            <a target="_blank" class="info-button btn" href="">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

