<div class="container my-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5 container text-center">
  <h2>Get more detailed information here</h2>
  <a class="pr-3" href="">pdf1</a>
  <a href="">pdf2</a>
</div>
