<div class="banner">
  <div class="container">
    <h1>Let's create a movement!</h1>
    <p>Social Innovator</p>
  </div>
</div>

<div class="container text-center my-4 py-5">  <h2>How it works</h2>
</div>
