<div class="banner">
  <div class="container">
    <h3> ‘This is the real secret of life – to be completely engaged with what you are doing in the here and now. And instead of calling it work, realize it is play.’ – Alan W. Watts </h3>
  </div>
</div>

<div class="home-container bg-light">
  <h3>About Anni</h3>
  <p>Anni facilitates creative processes that involve co-creation and lead to movement: “Together we create movement”. She addresses complex problems of teams by its roots and tries to find little cracks that allow for change and vulnerability. She is continuously working on her personal development and leadership. Nature and travelling are her source of inspiration. She learns from other cultures and explores the world with open eyes and an open heart. </p>
</div>

<section class="page-section" id="how-to">
  <div class="home-container bg-light text-center">
    <h3>How it works</h3>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image" style="  background-color: #324856;">
              <span>1</span>
            </div>
            <div class="timeline-panel">
              <h4 class="text-muted">You want to move, but something is standing in your way? Let me help you and your team with <strong id="colored-strong">setting new intentions</strong> and <strong id="colored-strong">forming a question</strong> that will give you direction in the process.</h4>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image" style=" background-color: #4A746A;">
              <span>2</span>
            </div>
            <div class="timeline-panel">
              <h4>Let´s meet and make working together more concrete</h4>
              <p class="text-muted">What is your current situation?
Where do you see yourself and your team in 5 years from now?
How much time and resources are you willing to spend?
</p>
            </div>
          </li>
          <li>
            <div class="timeline-image" style=" background-color: #D18237;">
              <span>3</span>
            </div>
            <div class="timeline-panel">
              <h4>Step 3 placeholder</h4>
              <p class="text-muted">I will facilitate a process tailored to the needs of you and your team.
We will use a variety of tools and exercises which will help with unleashing your team´s creativity.

</p>
            </div>
          </li>
            <li class="timeline-inverted">
            <div class="timeline-image" style=" background-color: #D66C44;">
              <h4>GOOD!</h4>
            </div>
            <div class="timeline-panel">
              <h4>Are we on the good track?
Let´s reflect on your progress. I value these moments of standing still and zooming out.
Where are you now? What has changed? What still needs attention?
Let´s adapt the process and start moving from a fresh perspective.
</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<%= render 'shared/carousel' %>
<%= render 'shared/modal' %>
