<div class="container text-center py-5">
  <h2>Services</h2>
  <h4>Thank you for your interest in working with me.</h4>
    <div class="services-box mt-4 bg-light">
      <div class="text-services col-lg-4">
        <h6>Workshop facilitation:</h6>
        <p>A workshop promotes activeness, creative freedom and social learning. Experimenting with creative tools and methods can help your team to collectively produce new ideas.</p>
      </div>
      <img class="img-services col-lg-4" src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1561035132/Screenshot_from_2019-06-20_13-51-54_ppxfbd.png">
      <div class="text-services col-lg-4">
        <h6>Process facilitation:</h6>
        <p>A process tailored to your needs, that helps you and your team to collectively move to a shared vision.</p>
        <p>To learn more about my work, click <%= link_to "here", about_path %>.</p>
      </div>
    </div>
  </div>
</div>
