<div class="container w-50 text-center py-4">
  <h1>Services</h1>
  <h2>Thank you for your interest in working with me.</h2>
  <div class="services-box">
    <img src="https://res.cloudinary.com/ddcwrwijt/image/upload/v1561035132/Screenshot_from_2019-06-20_13-51-54_ppxfbd.png">
    <div class="text-services">
      <p>I facilitate workshops and processes for teams.</p>
      <h6>Workshop facilitation:</h6>
      <p>A workshop promotes activeness, creative freedom and social learning. Experimenting with creative tools and methods can help your team to collectively produce new ideas.</p>
      <h6>Process facilitation:</h6>
      <p>A process tailored to your needs, that helps you and your team to collectively move to a shared vision.</p>
      <p>To learn more about my work, click <%= link_to "here", about_path %>.</p>
      </div>
  </div>
</div>
