.footer {
  background-color: white;
  position: sticky;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  justify-content: center;
  a {
    font-size: 25px;
    color: grey;
  }
  a:hover {
    color: black;
  }
  p {
    color: grey;
    position: absolute;
    right: 15px;
    margin: 0px;
  }
}
