.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
    justify-content: center;
    font-size: x-large;
}

.link-navbar {
  position: absolute;
  right: 25px;
  top: 25px;
  a {
  color: grey;
  text-decoration: none;
  font-size: 17px;
}
}

.link-navbar a:hover {
  color: black;
  text-decoration: none;
}


.submit-button {
  background-color: #919ee2;
}
